# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
lib

# vs code chrome debugger
.vscode/.chrome

# misc
.DS_Store
.env
npm-debug.log
yarn-error.log

zebulon-controls-1.0.0.tgz