.zebulon-input {
	font: inherit;
	border: unset;
	box-sizing: border-box;
	padding: 0;
	background-color: inherit;
	display: flex;
	height: inherit;
}
.zebulon-input-label: {
	border: solid lightgrey thin;
	box-sizing: border-box;
	padding: 0;
	background-color: inherit;
}
.zebulon-input-cell {
	width: inherit;
	border: unset;
	box-sizing: border-box;
	padding: 0;
	background-color: inherit;
	display: flex;
}
.zebulon-input-select: {
	width: inherit;
}

/*-----------------------------------------------*/
.zebulon-contextmenu-item {
	padding: 2px;
	height: 20px;
	width: stretch;
	min-width: 50px;
	z-index: 100;
	opacity: 1;
	display: flex;
	justify-content: space-between;
}
.zebulon-contextmenu-item-separation {
	border-top: solid 0.05em rgba(0, 0, 0, 0.5);
}
.zebulon-contextmenu-item-disable {
	color: lightgrey;
}
.zebulon-contextmenu-item-checked {
}
.zebulon-contextmenu-item-selected {
	background-color: lightgrey;
}
.zebulon-contextmenu-group {
	width: max-content;
	min-width: 80px;
	height: fit-content;
	border: solid 0.05em rgba(0, 0, 0, 0.5);
	cursor: pointer;
	z-index: 100;
	padding: 2px;
	background-color: white;
}
/*-----------------------------------------------*/
.zebulon-scrollbar-bar {
	background-color: lightgrey;
	border: solid 0.03em grey;
	box-sizing: border-box;
	border-radius: 0.25rem;
}
.zebulon-scrollbar-thumb {
	background-color: grey;
	border: solid 0.03em grey;
	box-sizing: border-box;
	border-radius: 0.25rem;
}

.zebulon-tool-tip {
	padding: 5px;
	position: relative;
	z-index: 9999;
	cursor: default;
	animation: 0.5s fadeIn;
	border: 0.05em solid;
	/*min-height: 30px;*/
	background-color: white;
	border-radius: 5px;
}
.zebulon-tabs-list {
	width: inherit;
	justify-content: space-around;
}
.zebulon-tabs-tab {
	font-weight: bold;
	border: 1px solid #aaa;
	text-align: center;
	border-radius: 5px 5px 0 0;
	/*width: -webkit-fill-available;*/
	width: stretch;
	cursor: pointer;
}
.zebulon-tabs-tab-horizontal {
	font-weight: bold;
	writing-mode: tb-rl;
	border: 1px solid #aaa;
	text-align: center;
	border-radius: 0 0 5px 5px;
	width: stretch;
	cursor: pointer;
}
.zebulon-tabs-tab-selected {
	background-color: lightgrey;
	border-bottom: unset;
	color: black;
}
.react-resizable {
	position: relative;
}
.react-resizable-handle {
	position: absolute;
	width: 12px;
	height: 12px;
	bottom: 0;
	right: 0;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
	background-position: bottom right;
	/*padding: 0 3px 3px 0;*/
	background-repeat: no-repeat;
	background-origin: content-box;
	box-sizing: border-box;
	cursor: se-resize;
}
.zebulon-layout {
	box-sizing: border-box;
	/*border: solid rgba(0, 0, 0, 0) 0.05em;*/
	/*border: solid rgba(0, 0, 0, 0.2) 0.02em;*/
}
.zebulon-layout-active {
	/*border: solid rgba(0, 0, 0, 0.7) 0.05em;*/
}
.zebulon-layout-component {
	box-sizing: content-box;
	/*border: solid blue 0.1em;*/
}
.zebulon-layout-header {
	font: inherit;
	height: inherit;
	width: inherit;
	background-color: rgba(111, 149, 90, 0.1);
	/*box-sizing: border-box;*/
	/*border: solid rgba(0, 0, 0, 0.2) 0.02em;*/
	/*padding: 0.2em;*/
	/*outline: none;*/
	user-select: none;
}
.zebulon-layout-header-active {
	/*border: solid rgba(0, 0, 0, 0.8) 0.05em;*/
	/*background-color: lightgrey;*/
	border-bottom: unset;
	font-weight: bold;
}
.zebulon-layout-body {
	box-sizing: border-box;
	/*overflow: hidden;*/
	/*  padding-top: 1px;
  padding-left: 1px;
*/
	/*margin: 1px;*/
	/*font: inherit;*/
}
/*.zebulon-layout-body-active {
	box-sizing: border-box;
	border: solid rgba(0, 0, 0, 0.8) 0.05em;
}*/
.zebulon-layout-component {
	box-sizing: border-box;
	/*border: solid rgba(0, 0, 0, 0) 0.05em;*/
}

.zebulon-layout-tab {
	border: 1px solid #aaa;
	text-align: center;
	border-radius: 5px 5px 0 0;
	box-sizing: border-box;
	/*width: stretch;*/
	cursor: pointer;
}
.zebulon-layout-tab-selected {
	box-sizing: border-box;
	background-color: lightgrey;
	border-bottom: unset;
	color: black;
}
.zebulon-layout-tab-selected-active {
	box-sizing: border-box;
	border: solid rgba(0, 0, 0, 0.8) 0.05em;
	border-bottom: unset;
}
.zebulon-layout-resize-handle {
	/*border: solid rgba(0, 0, 0, 0.5) 0.02em;*/
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.05);
	margin: 0;
	position: absolute;
}
.zebulon-tabs-list {
	box-sizing: border-box;
	width: inherit;
	justify-content: space-around;
}
.zebulon-tabs-tab {
	border: 1px solid #aaa;
	text-align: center;
	border-radius: 5px 5px 0 0;
	box-sizing: border-box;
	width: stretch;
	cursor: pointer;
}
.zebulon-tabs-tab-selected {
	background-color: lightgrey;
	border-bottom: unset;
	color: black;
}
/*-------------------------*/
.zebulon-modal-backdrop {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	backgroundColor: rgba(0, 0, 0, 0.3);
	padding: 50px;
}
.zebulon-modal-confirmation {
	display: flex;
	flexDirection: column;
	backgroundColor: #fff;
	justifyContent: space-between;
	borderRadius: 5px;
	width: fit-content;
	minWidth: 200px;
	minHeight: 100px;
	height: fit-content;
	margin: 0 auto;
	padding: 20px;
	zIndex: 1000;
	opacity: 1;
}
